/* Shimmer effect by Temani Afif
https://stackoverflow.com/questions/68216941/how-to-make-a-css-shimmer-effect-on-image */

/* Cardflip effect by W3Schools
https://www.w3schools.com/howto/howto_css_flip_card.asp */

.cardDiv {
  width: 140.44px;
  height: 200px;
  margin: 35px;
  perspective: 1000px; 
}

.cardDiv:hover {
  box-shadow: 0px 0px 25px white;
  transform: scale(105%);
}

.cardSolved {
  opacity: 75%;
}

.gameSolved {
  mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
  animation: shimmer 2.5s infinite;
  opacity: 75%;
}

@keyframes shimmer {
  100% {
    mask-position: left
  }
}

.innerDiv {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardTurned {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cardFront {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}