* {
    box-sizing: border-box;
}

.matDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1100px;
    border-radius: 20px;
}

button:hover {
    transform: scale(120%);
}

.scoreDiv {
    margin: 20px;
    font-size: 24px;
}