* {
    box-sizing: border-box;
}

.Mat {
    display: flex;
    flex-direction: row;
    width: 1500px;
    flex-wrap: wrap;
    /* border: 5px solid red; */
}

/* .Mat div {
    pointer-events: none;
} */

.scoreDiv {
    margin: 20px;
    font-size: 24px;
}